<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
	<form th:action="@{/clientes/verificarFechas}" th:object="${reserva}" method="get">
		<table>
			<tr>
				<td>
					<label>Fecha de inicio de la reserva:</label>
				</td>
				<td>
					<input type="datetime-local" id="fechaInicio" th:field="*{fechaInicio}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Fecha de final de la reserva:</label>
				</td>
				<td>
					<input type="datetime-local" id="fechaFinal" th:field="*{fechaFinal}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Placa:</label>
				</td>
				<td>
					<input type="text" id="placa" th:field="*{vehiculo.placa}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Cedula Cliente:</label>
				</td>
				<td>
					<input type="text" id="cedula" th:field="*{cliente.cedula}">
				</td>
			</tr>
		</table>
		<input type="submit" value="Verificar Reserva">
	</form>
</body>

</html>